build/
emtg/PyEMTG/PyEMTG.pyw - Shortcut.lnk
OpenSourceData/universe/ephemeris_files/de430.bsp
OpenSourceData/universe/ephemeris_files/PlanetsLight.bsp
scripts/*
testatron/*
emtg/src/math/randutils.hpp