#################
# build artifacts
#################
build/*
bin/*
EMTG_v9_Results/*
scripts/*
#EMTG-config.cmake
*.debug
*.d
*.o
*.so
*.out
*.1
EMTG-Config\.cmake

#########################
# Visual Studio artifacts
#########################
.vscode/*
.vs/*
docs/entry_interface_constraint_derivations/\.vs/emtg_interface_constraint_derivations/v15/
*.pyproj
*.sln

##################
# Python artifacts
##################
PyEMTG/HighFidelityTest\.emtgopt
PyEMTG/PSFBtest\.emtgopt
PyEMTG/PyEMTG.options
*.pyc
PyEMTG/PyEMTG\.lnk
PyEMTG/.spyproject/*
PyEMTG.zip

PyEMTG/docs/_build/*
PyEMTG/docs/PyEMTG/_build/*
PyEMTG/docs/PEATSA/_build/*
PyEMTG/docs/OptionsOverhaul/_build/*
docs/1_Developers/python_modules/_build/*
docs/1_Developers/python_modules/_autogendocs/*

PyEMTG/.idea/*


#################
# Ephemeris files
#################
Universe/ephemeris_files/*.bsp
Universe/ephemeris_files/*.tls
Universe/ephemeris_files/*.tpc

#######################
# Latex build artifacts
#######################
*.log
*.idx
*.ilg
*.nlo
*.nls
*.toc
*.aux
*.gz
*.blg
*.bbl
*.lof
*.lot

###########################
# OptionsOverhaul artifacts
###########################
OptionsOverhaul/~\$list_of_missionoptions\.xlsx
OptionsOverhaul/~\$list_of_journeyoptions\.xlsx
OptionsOverhaul/\.vs/OptionsOverhaul/v15/\.suo
OptionsOverhaul/journeyoptions\.cpp
OptionsOverhaul/journeyoptions\.h
OptionsOverhaul/JourneyOptions\.py
OptionsOverhaul/missionoptions\.cpp
OptionsOverhaul/missionoptions\.h
OptionsOverhaul/MissionOptions\.py
OptionsOverhaul/PyMissionOptions\.h


#####################
# Testatron artifacts
#####################
/testatron/tests/output/**
testatron/tests/output/*
testatron/output/
testatron/tests/Errors/
testatron/HardwareModels/server.throttleOUTPUT
testatron/testout.txt
testatron/tests/*/*.ephemeris
testatron/tests/*/*.emtg_archive
testatron/testout.txt

testatron/.idea/*

############################
# Microsoft Office Artifacts
############################
docs/~\$TGv9_system_test_architecture\.docx
docs/~\$EMTG_requirements_document\.xlsx
docs/~\$EMTGv9_requirements_document\.xlsx
testatron/~\$EMTGv9_test_matrix\.xlsx

######################
# sphinx Documentation
######################
*.doctree
/docs/1_Developers/python_modules/_autogendocs/doctrees/*

################
# Dependencies 
################

/depend/boost/stage/*

#######
# Other
#######
*.ThrottleTableOUTPUT
emtg
PropulatorDriver
*.lot
PyEMTG.zip

PyEMTG/.spyproject/*.ini
PyEMTG/.spyproject/*.bak
PyEMTG/PEATSA/.idea/
PyEMTG/OptionsOverhaul/.idea/
