build/*
bin/*
/HardwareModels
EMTG_v9_Results/*
scripts/*
#EMTG-config.cmake
*.pyc
Universe/ephemeris_files/*.bsp
Universe/ephemeris_files/*.tls
Universe/ephemeris_files/*.tpc
*.1
.vs/*
PyEMTG/HighFidelityTest\.emtgopt
PyEMTG/PSFBtest\.emtgopt
PyEMTG/PyEMTG.options
*.pyc
*.debug
*.d
*.o
emtg
.vscode/*
*.so
PropulatorDriver
docs/constraint_scripting/EMTG_constraint_scripting\.aux

docs/constraint_scripting/EMTG_constraint_scripting\.log

docs/constraint_scripting/EMTG_constraint_scripting\.out

docs/constraint_scripting/EMTG_constraint_scripting\.toc

*.out

docs/constraint_scripting/EMTG_constraint_scripting\.pdf

docs/constraint_scripting/EMTG_constraint_scripting\.synctex\.gz



docs/MGAnDSMs_Missed_Maneuver_Utility/*.aux
     
docs/MGAnDSMs_Missed_Maneuver_Utility/*.log
     
docs/MGAnDSMs_Missed_Maneuver_Utility/*.out
     
docs/MGAnDSMs_Missed_Maneuver_Utility/*.toc
     
docs/MGAnDSMs_Missed_Maneuver_Utility/*.pdf
     
docs/MGAnDSMs_Missed_Maneuver_Utility/*.synctex.gz

OptionsOverhaul/~\$list_of_missionoptions\.xlsx

OptionsOverhaul/~\$list_of_journeyoptions\.xlsx

OptionsOverhaul/\.vs/OptionsOverhaul/v15/\.suo

docs/~\$TGv9_system_test_architecture\.docx

/testatron/tests/output/**

docs/~\$EMTG_requirements_document\.xlsx

docs/~\$EMTGv9_requirements_document\.xlsx

testatron/~\$EMTGv9_test_matrix\.xlsx

OptionsOverhaul/journeyoptions\.cpp

OptionsOverhaul/journeyoptions\.h

OptionsOverhaul/JourneyOptions\.py

OptionsOverhaul/missionoptions\.cpp

OptionsOverhaul/missionoptions\.h

OptionsOverhaul/MissionOptions\.py

OptionsOverhaul/PyMissionOptions\.h

docs/entry_interface_constraint_derivations/\.vs/emtg_interface_constraint_derivations/v15/

testatron/tests/output/*
docs/entry_interface_constraint_derivations/\.vs/emtg_interface_constraint_derivations/v15/

docs/software_design_document/EMTG_software_design_document\.synctex\.gz

*.log

docs/software_design_document/*.aux
docs/software_design_document/*.log
docs/software_design_document/*.out
docs/software_design_document/*.toc
docs/software_design_document/*.bbl
docs/software_design_document/*.blg
docs/software_design_document/*.lof
docs/software_design_document/*.lot


docs/software_design_document/EMTG_software_design_document\.toc

docs/software_design_document/EMTG_software_design_document\.aux

PyEMTG/PyEMTG\.lnk

testatron/output/

*.ThrottleTableOUTPUT

docs/software_design_document/EMTG_software_design_document\.lof

*.lot

EMTG-Config\.cmake

testatron/tests/Errors/
testatron/HardwareModels/server.throttleOUTPUT

docs/user_documentation/EMTG_user_documentation.synctex.gz
testatron/testout.txt
